:root {
  --base-color: #555;
}

.page {
  min-height: 100vh;
  background-color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;

    .main_header {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;

      .logo {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.06em;
        color: var(--base-color);
      }

      .icon_wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 16px;
        line-height: 0;

        .icon_menu_wrapper {
          display: flex;
          height: 18px;
          align-items: center;

          .icon_menu {
            width: 20px;
            height: 2px;
            background-color: var(--base-color);
            margin: 4px 0;
            transition: all 0.3s ease-in-out;
            position: relative;

            &::after, &::before {
              content: '';
              display: block;
              width: 20px;
              height: 2px;
              background-color: var(--base-color);
              transition: transform 0.3s ease-in-out;
              position: absolute;
            }

            &::before {
              top: -6px;
              transform:
            }

            &::after {
              bottom: -6px;
            }

            &.open_menu {
              background-color: transparent;

              &::before {
                transform: rotate(45deg);
                top: 0px;
              }

              &::after {
                transform: rotate(-45deg);
                bottom: 0px;
              }
            }
          }
        }
      }
    }

    .nav_links {
      display: grid;
      transition: all 0.3s ease-in-out;
      grid-template-rows:0fr;

      &.active {
        grid-template-rows: 1fr;
      }

      ul {
        overflow: hidden;
        list-style: none;
        margin: 0;

        li a {
        padding: 16px 20px;
        display: block;
        transition: background-color .6s;

        &:hover {
          background-color: #f0f0f0;
        } }
      }
    }

    .search_wrapper {
      display: grid;
      transition: all 0.3s ease-in-out;
      grid-template-rows:0fr;

      &.open_search {
        grid-template-rows: 1fr;
      }

      .search {
        overflow: hidden;
        display: flex;

        input {
          flex-grow: 1;
          display: flex;
          margin: 10px 20px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          background-color: #ccc;
          color: #000;
          overflow: hidden !important;

          &:focus {
            background-color: transparent;
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
            outline: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .header {
    border-bottom: 1px solid #ccc;

    .container {
      flex-direction: row;
      align-items: center;
      padding: 0 20px;

      .main_header {
        padding: 16px 0;
        margin-right: 30px;
        border-bottom: none;

        .icon_wrapper {
          display: none;
        }

      }

      .nav_links {
        grid-template-rows: 1fr;

        ul {
          display: flex;
          flex-wrap: wrap;

          li a {
            padding: 20px 16px;
          }
        }
      }

      .search_wrapper {
        margin-left: auto;
        grid-template-rows: 1fr;
        min-width: 275px;

        .search {
          overflow: visible;

          input {
            margin: 0;
          }
        }
      }
    }
  }
}
